10-deep_learning/**/Heterogeneous_accelerometer_HAR.csv filter=lfs diff=lfs merge=lfs -text
10-deep_learning/**/mnist_train.csv filter=lfs diff=lfs merge=lfs -text
12-mlops_and_deployment/**/model.pkl filter=lfs diff=lfs merge=lfs -text
